:root {
    --c1: #294F6F ;
    --c2: #6F8CA4 ;
    --c3: #466B89;
    --c4: #133755 ;
    --c5: #042139;
    --c6: #AC7B37;
    --c7: #FFD9A5;
    --c8: #D4A666;
    --c9: #845616;
    --c10: #593300; 
}
/* inceput*/
header {
    background-color: var(--c7);
    color: var(--c2);
    padding-left: 5px; 
    position: static;
}

.dreapta {
    text-align: right;
    padding: 5px;
}

.fulg {
    position: absolute;
}

.orizontal li {
    display: inline-block;
    list-style-type: none ;
    padding: 0 20px;
}

.orizontal li a {
	text-decoration: none;
}


/* Pentru subsol*/
.subsoli li {
    display: inline-block;
    list-style-type: none ;
    padding: 0 40px;
}

.subsoli li a {
    text-decoration: none;
}


body {
   background-color: aliceblue;
   color: var(--c5);
}

/*Pentru meniu*/
.meniu {
	width: 895px;
	position: absolute;
	background-color:var(--c8);
	color: var(--c5);
	text-align: center;
	font: bold 15px Verdana, cursive; 
    margin-left: -5px;
	/* z-index: 4; */
}

